<div class="jumbotron">
  <h1 class="question-category">High Scores!</h1>
  <p class="question">You gave a valiant effort on this quiz and for that we will place thou's name on our scoreboard.
  </p>
  <hr class="my-4">
  <p></p>

  <div class="highscores">
    <h3>Science</h3>
    <div class="scroll science" style="overflow: auto; width:55%; height:150px;">
      <div id="scienceScore"></div>
    </div><br>
    <h3>Culture</h3>
    <div class="scroll culture" style="overflow: auto; width:55%; height:150px;">
      <div id="cultureScore"></div>
    </div><br>
    <h3>Art</h3>
    <div class="scroll culture" style="overflow: auto; width:55%; height:150px;">
      <div id="artScore"></div>
    </div>


  </div>



</div>
<script src="logic.js"></script>