 <div class="jumbotron">
    <h1 class="question-category">High Scores!</h1>
    <p class="question">You gave a valiant effort on this quiz and for the we will place though's name on our scoreboard.</p>
    <hr class="my-4">
    <p></p>

<div class= "highscores">
   <h3>Science</h3> <div class ="scroll science" style="overflow: auto; width:250px; height:150px;">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt aliquid ad itaque fuga temporibus fugit optio minima. Ut, nesciunt, est numquam cum neque blanditiis, possimus tempora velit pariatur enim eaque perferendis vitae. Est ut dignissimos sunt omnis quod unde magni iure minima, qui veniam quos optio dolorem obcaecati eaque eum culpa quam fugit rerum autem et repellendus maxime. Totam hic consequatur fugiat fuga dolores nobis neque ab doloribus vitae quam ullam adipisci consequuntur quidem quas, porro quos laborum qui velit alias natus nulla eveniet maiores. Totam expedita earum dolorum ratione sequi autem deleniti sapiente eos delectus iure dolore, est odio ducimus rem porro mollitia tenetur soluta, fugit aliquid. Debitis nesciunt eum ratione adipisci praesentium minus mollitia optio vel incidunt fugiat error nobis facilis, veritatis atque vero eos asperiores deleniti tenetur dignissimos modi?
  </div><br>
  <h3>Culture</h3>
      <div class ="scroll culture" style="overflow: auto; width:250px; height:150px;">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt aliquid ad itaque fuga temporibus fugit optio minima. Ut, nesciunt, est numquam cum neque blanditiis, possimus tempora velit pariatur enim eaque perferendis vitae. Est ut dignissimos sunt omnis quod unde magni iure minima, qui veniam quos optio dolorem obcaecati eaque eum culpa quam fugit rerum autem et repellendus maxime. Totam hic consequatur fugiat fuga dolores nobis neque ab doloribus vitae quam ullam adipisci consequuntur quidem quas, porro quos laborum qui velit alias natus nulla eveniet maiores. Totam expedita earum dolorum ratione sequi autem deleniti sapiente eos delectus iure dolore, est odio ducimus rem porro mollitia tenetur soluta, fugit aliquid. Debitis nesciunt eum ratione adipisci praesentium minus mollitia optio vel incidunt fugiat error nobis facilis, veritatis atque vero eos asperiores deleniti tenetur dignissimos modi?
  </div><br>
    <h3>Art</h3>
      <div class ="scroll culture" style="overflow: auto; width:250px; height:150px;">
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Excepturi nesciunt aliquid ad itaque fuga temporibus fugit optio minima. Ut, nesciunt, est numquam cum neque blanditiis, possimus tempora velit pariatur enim eaque perferendis vitae. Est ut dignissimos sunt omnis quod unde magni iure minima, qui veniam quos optio dolorem obcaecati eaque eum culpa quam fugit rerum autem et repellendus maxime. Totam hic consequatur fugiat fuga dolores nobis neque ab doloribus vitae quam ullam adipisci consequuntur quidem quas, porro quos laborum qui velit alias natus nulla eveniet maiores. Totam expedita earum dolorum ratione sequi autem deleniti sapiente eos delectus iure dolore, est odio ducimus rem porro mollitia tenetur soluta, fugit aliquid. Debitis nesciunt eum ratione adipisci praesentium minus mollitia optio vel incidunt fugiat error nobis facilis, veritatis atque vero eos asperiores deleniti tenetur dignissimos modi?
  </div>


</div>



</div>
<script src="logic.js"></script>


{{!-- <div class="comments">
  {{#each comments}}
    <div class="comment">
      <h2>{{subject}}</h2>
      {{{body}}}
    </div>
  {{/each}}
</div> --}}