<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to the ultimate IQ test!</h1>
    <p class="lead">
      Challenge yourself between different topics and try to reach your highest score!
    </p>

    <div class="content">
      <p> </p>

    </div>
    <div class="answerBody">
      <ul class="answerList">

      </ul>

    </div>



    <form>
      <div class="form-group">
        <label for="userNameInput">Name</label>
        <input type="text" class="form-control" id="userNameInput" placeholder="Enter your name here (max 10 characters)">
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">Select A Category</label>
        <select class="form-control" id="categorySelected">
          <option>Science</option>
          <option>Culture</option>
          <option>Art</option>
        </select>
      </div>

    </form>
    <button type="button" id="startQuiz" class="btn btn-success">Start!</button>
    <br><br>
    <div class="score">Score: </div>
  </div>
</div>

<footer class="footer"></footer>