    {{!-- <div>

        <div class="jumbotron">
            <h1 class="question-category">Hello, world!</h1> {{quizCategory}}
            <p class="question">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
            <hr class="my-4">
            <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
            <a class="btn btn-secondary btn-lg btn-block q1 "  role="button">Learn more</a>
            <a class="btn btn-secondary btn-lg btn-block q2" role="button">Learn more</a>
            <a class="btn btn-secondary btn-lg btn-block q3"  role="button">Learn more</a>
            <a class="btn btn-secondary btn-lg btn-block q4"  role="button">Learn more</a>
          </div> 
        <div class ="score">1111</div>
    </div>

<script src ="logic.js"></script>


{{!-- <div class="comments">
  {{#each comments}}
    <div class="comment">
      <h2>{{subject}}</h2>
      {{{body}}}
    </div>
  {{/each}}
</div> --}}